.root {
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-align: center;
  max-height: 600px;
  background-size: 1920px, 600px;
  padding: 10px 0;
  margin-bottom: 30px;
}

.inner {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;
}
.buttons{
  font-family: 'Montserrat', sans-serif;
}
.buttons:hover {

   background-color: #ff7100;
 }
